<div id="contact-wrapper">
	<h1>Contact Us</h1>
	<div class="info">
		<p>1-800-322-4848</p>
		<p>5620 Glenridge Dr. NE</p>
		<p>Atlanta, GA 30342</p>
		<p>Hours: M-F, 8am-6pm EST</p>
	</div>
	<form>
		<label for="email">Email</label><br>
		<input type="text" name="email" style="width: 700px;"></input><br>
		<label for="comments">Comments</label><br>
		<textarea type="text" name="comments" style="width: 700px; height: 500px; padding-top: 0; padding-left: 0;"></textarea><br>
		<input type="submit"></input>
	</form>
</div>