
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="/images/cake1.jpg" alt="colossal">
        <div class="carousel-caption">
          <p> <span>Colossal Cupcake Cake</span> <br>
          This larger-than-life cupcake is made with freshly made, premium ice cream separated by a layer of chocolate crunchies and covered with colorful whipped frosting.</p>
        </div>
      </div>

      <div class="item">
        <img src="/images/cake2.jpg" alt="Chania">
        <div class="carousel-caption">
          <p> <span>Deluxe Sundae Dinner Cake</span> <br>
          Put the perfect finish on any dinner with layers of delicious ice cream and crunchies then topped with your choice of milk chocolate fudge and marshmallow or strawberries.</p>
        </div>
      </div>
    
      <div class="item">
        <img src="/images/cake3.jpg" alt="Flower">
        <div class="carousel-caption">
          <p> <span>3D Ice Cream Cone Cake</span> <br>
          Watch everyone's eyes get wide when you bring freshly made premium ice cream separated by a layer of chocolate crunchies, dipped in chocolate, covered with white whipped frosting and topped with sprinkles.</p>
        </div>
      </div>

      <div class="item" onclick="modal(this)">
        <img src="/images/cake4.jpg" alt="Flower">
        <div class="carousel-caption">
          <p> <span>Nutty the Ghost Cake</span> <br>
          Give yourself chills with two layers of ice cream, chocolate crunchies, milk fudge, and white whipped frosting covered in nuts or vanilla crunch.</p>
        </div>
      </div>

      <div class="item">
        <img src="/images/cake5.jpg" alt="Flower">
        <div class="carousel-caption">
          <p> <span>Hug Me the Bear Cake</span> <br>
          A lovable dessert, the Hug Me the Bear cake features layers of ice cream separated by a layer of chocolate crunchies, covered with another layer of chocolate crunchies and topped with red and white whipped frosting</p>
        </div>
      </div>

      <div class="item">
        <img src="/images/cake6.jpg" alt="Flower">
        <div class="carousel-caption">
          <p> <span>Cookie Puss Cake</span> <br>
          A well-loved, classic character that thrills kids of any age, the Cookie Puss cake has layers of freshly made ice cream and a thin layer of chocolate crunchies, all topped with a scoop of chocolate ice cream in a sugar cone, two chocolate chip cookies, white whipped frosting, milk fudge and shredded coconut.</p>
        </div>
      </div>

      <div class="item">
        <img src="/images/cake7.jpg" alt="Flower">
        <div class="carousel-caption">
          <p> <span>Fudgie the Whale Cake</span> <br>
          Throw a whale of a party with layers of freshly made ice cream separated by a layer of chocolate crunchies, topped with milk fudge, vanilla crunchies and whipped frosting.</p>
        </div>
      </div>
  
    </div>
  </div>
  <div id="deal">
    <span>Daily Deal</span>

    <div id="deal-image">
      <img src="/images/BOGO.jpg">
    </div>
  </div>
