<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="banner">
		<a href="/">
			<img src="/images/carvel-logo.png">
		</a>
		<div class="navbar">
			<nav>
				<a href="#">Contact</a>
				<a href="#">Stores</a>
				<a href="#">Order</a>
			</nav>
		</div>
	</div>
	<%= yield %>
</body>
</html>