<div id="orderPage">
	<span>Send us your order</span>
	<form id="orderForm">
		Address: <br>
		<input type="text"></input><br>
		Choose a cake:<br>
		<input type="text"></input><br>
		<input id="orderButton" type="submit" value="Submit"></input>

	</form>
</div>